﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

.loginDisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    color: White;
    padding: 12px;
}

.loginnav {
    color: black;
}

.yui-grid td {
    padding: 4px 10px 4px 10px;
    border: solid 1px #7f7f7f;
    font-family: "Times New Roman";
    font-size: small;
}

.yui-grid .altrow, .yui-grid .row .sort {
    background-color: #EFF3FB;
}

    .yui-grid .altrow .sort {
        background-color: #dbeaff;
    }

.yui-grid .row {
    background-color: #fff;
}

.yui-grid {
    font-family: arial;
    font-size: small;
    border: solid 1px #7f7f7f;
    border-collapse: collapse;
}


    /* header column rules */
    .yui-grid th {
        background: #004687;
        border-color: #989898 #cbcbcb #989898 #989898;
        border-style: solid solid solid none;
        border-width: 1px 1px 1px medium;
        color: #fff;
        padding: 4px 5px 4px 10px;
        text-align: center;
        vertical-align: bottom;
        white-space: nowrap;
    }

        .yui-grid th a {
            font-weight: normal;
            text-decoration: none;
            font-weight: bold;
            text-align: center;
            display: block;
            padding-right: 10px;
        }

.failureNotification {
    font-size: 1.2em;
    color: Red;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
